Package: com.pangu.binddetours
Name: binddetours
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: demo
Author: demo
Section: Tweaks
